:root {
    --bg-color-one: #f5f5f5;
    --bg-color-two: #ffff;
    --text-color: #000000d4;
    --post-title-color: black;
  }
  
  
  .dark-mode {
    --bg-color-one: #212121;
    --bg-color-two: #2b2b2b;
    --text-color: white;
    --post-title-color: #fc0;
  }
  
  h1,
  h2,
  ul,
  p {
    margin: 0px;
    padding: 0px;
  }
  
  
  body {
    margin: 0px;
    padding: 0px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--bg-color-one);
    color: var(--text-color);
  }
  
  .container-full {
    width: 100%;
  }
  
  .container {  
    max-width: 1024px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px
  }
  
  
  header {
    min-height: 60px;
    background-color: var(---bg-color-one);
  }
  
  .header-left {
    float: left;
    padding-top: 15px;
  }
  
  .header-right {
    float:right;
    display: flex;
    padding-top: 15px;
  }
  
  .logo a {
    color: var(--post-title-color);
    text-decoration: none;
  }
  .logo a:hover {
    text-decoration: none;
  }
  
  .search-box {
    padding-right: 20px;
  }
  .search-icon {
    position: relative;
    top:5px;
    left:33px;
     width: 30px;
    height: 20px;
    fill: var(--post-title-color);
  }
  
  .search-box input {
      padding: 6px 5px 5px 29px;
      font-size: 0.75em;
      border: none;
      border-radius: 5px;
      color: var(--text-color);
      background-color: var(--bg-color-two);
  }
  
  
  nav ul li {
    list-style: none;
  }
  nav ul li a {
    font-size: 18px;
    padding-right: 20px;
    text-decoration: none;
    color: var(--text-color);
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  
  /* ---------------- theme-switcher ---------------- */
  .theme-switcher > span {
    cursor: pointer;
    display: none;
  }
  
  .theme-switcher > .active {
    display: block;
  }
  
  /* ---------------- main ---------------- */
  
  .main-section {
    flex: 1 0 auto;
    background-color: var(--bg-color-two);
  }
  
  .post-list {
    list-style: none;
  }
  .post-list li {
    padding-top: 30px;
  }
  .post-list li span {
    font-size: 17px;
    color: var(--text-color);
  }
  .post-list li h2 a {
    color: var(--post-title-color);
    font-size: 26px;
    text-decoration: none;
    font-weight: 100;
  }
  .post-list li h2 a:hover {
    text-decoration: underline;
  }
  
  /* ----------------  footer ----------------  */
  footer {
    padding: 30px 0px;
  }
  
  
  .footer-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .footer-box-unit {
    flex: 1 1 auto;
  }
  
  .footer-box-third-unit {
    flex: 1 1 40%;
  }
  
  .footer-box-unit a {
    color: var(--blue-color);
    text-decoration: none;
  }
  
  .footer-box-unit ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-box-first-unit ul li {
    list-style: none;
  }
  
  .social-media-link ul li   {
   list-style: none;
  }
  
  .social-media-link ul li a  {
    margin-right: 42px;
    position: relative;
    top: -9px;
  }
  
  .github-icon {
    fill: var(--text-color);
  }
  
  @media (max-width:620px) {
    .search-box {
      display: none;
    }
  }